/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
  list-style-type: none;
}

body,
a {
  text-decoration: none;
  color: #f7d64d;
}

body {
  font-family: "Lato";
  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 2px 1px red;
}

body p,
.menu li,
.openHours span {
  text-shadow: none;
}

h1, h2, h3 {
  font-size: 5rem;
  font-family: "Yeseva One";
}

/******************************************
/* BACKGROUND IMAGES
/*******************************************/

.heroContainer,
.aboutContainer,
.menuContainer,
.reviews {
  height: 500px;
  width: 100%;
  background-size: 100%;
  background-position: 0 75%;
}

.menuContainer {
  height: 750px;
}
.heroContainer {
  background-image: url("assets/images/food.jpg");
  background-repeat: no-repeat;
}
.aboutContainer {
  background: white;
}
.linearGradient {
  background: linear-gradient(to right, #e2ebf0, #f3f9f9);
  background-position: 0% 48%;
  background-size: 100%;

}

/******************************************
/*  IMAGES
/*******************************************/

.menu img {
  float: left;
  height: 250px;
  width: 200px;
  object-fit: cover;
  margin: 10px;
}

.menu {
  margin: 10px 0 0 23%;
}

/******************************************
/* LAYOUT
/*******************************************/

  /* MAIN SECTION */


header {
  float: left;
  width: 100%;
}

header nav {
  margin: 1% 0 0 45%;
}

header nav li {
  float: left;
  margin-left: 60px;
}
.homePage,
.aboutUs,
.menu,
.openHours,
.custReviews { 
  float: left;
}

.homePage {
  margin: 2px 800px 0 200px;
}

  /* ABOUT US */

.aboutUs {
  margin: 10px 200px 0 800px;
}

  /* MENU */

.menu > a {
  margin-left: 42%;
}

.menu h1 {
  margin-left: 17%;
}

.menu ul {
  margin: 20px 18.5% 10px 18.5%;
}

.menu li {
    float: left;
    margin: 0 50px 20px 0;
    list-style: none;
  }
  


.openHours,
.custReviews {
  margin: 10px 0 0 33.3333%;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.menu ul {
  border-bottom: 2px solid lightgray;
}

.fa-brands {
  font-size: 2rem;
}

main li {
  margin-top: 2%;
  margin-left: 0;
}

main a {
  margin: 10% 5% 0 0;

}

.inputIcons {
  width: 75%;
  height: 35px;
  float: left;
  background: white;
  border: 1px solid white;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.inputIcons i {
  color: gray;
  text-shadow: none;
  position: absolute;
}

.icon {
  padding: 10px 10px 10px 10px;
}

.inputField {
  width: 100%;
  padding: 8px 0 10px 30px;
  color: black;
  text-align: left;
  font-family: "Lato";
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
}

::placeholder {
  color: lightgray;
}

select,
.discover span {
  width: 18%;
  color: black;
  font-weight: 700;
  border: solid 1px #f7d64d;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  background: #f7d64d;
  padding: 7px 10px;
  outline: none;
  text-shadow: none;
} 

